body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: gray;
  font-size: 1.2rem;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.cover-img {
  width: 100%;
}

/* ======= Typography ======= */

h1,
h2 {
  color: rgb(219, 215, 215);
  font-family: "Prata", serif;
  font-weight: 300;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.5rem;
}

.fa-arrow-right-long {
  vertical-align: middle;
}

.article-heading {
  margin: 0;
}

strong {
  font-weight: 700;
}

p {
  line-height: 1.6em;
}

/* ======= Layout ========== */

.bg-color {
  background: black;
}

a {
  text-decoration: none;
  color: gray;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
}
nav li {
  margin-left: 1em;
}

.button {
  background: yellow;
  color: black;
  padding: 20px 25px;
}

header {
  display: flex;
  padding: 2em 0;
}

article,
footer {
  background: rgb(39, 45, 49);
}

.container-flex {
  display: flex;
  flex-direction: column;
}

.container-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.mobile-container {
  display: none;
}

.top-notes {
  width: 58%;
  max-width: 800px;
  margin-bottom: 3em;
}

.mg-p {
  margin-bottom: 2em;
}

.final-notes {
  padding: 1.5em 0 5em;
  width: 50%;
}

.footnote {
  display: flex;
  justify-content: space-between;
}

footer {
  padding: 1em 0;
}

footer img {
  margin-left: 0.5em;
}

/* =======Media queries ===== */

@media (min-width: 780px) {
  .container-flex {
    flex-direction: row;
    justify-content: space-between;
  }

  .slide {
    width: 47%;
    padding: 3em 0;
  }
}

@media (max-width: 780px) {
  header {
    display: none;
  }

  h1 {
      font-size: 3rem;
  }

  h2 {
      font-size: 2rem;
  }

  .mobile-container {
    width: 100%;
    display: block;
    padding: 1em 0;
  }

  .mobilenav {
    overflow: hidden;
    position: relative;
  }

  .mobilenav #myLinks {
    display: none;
    float: right;
  }

  .mobilenav a {
    margin-bottom: 1em;
    display: block;
  }

  .mobilenav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: .7em;
    color: grey;
    font-size: 30px;
  }

  .top-notes,
  .final-notes {
    width: 100%;
  }

  .container-row {
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
  }

  .container-row img {
    margin: 0.5em;
  }

  .mid-notes,
  .end-notes {
    padding: 2em 0;
  }
}
